  @import url("https://use.typekit.net/vzq8bfh.css");
  @import url("https://use.typekit.net/hrl6xmk.css");
*{
	margin:0;
	padding: 0;
}

html,body{
	
}

body{
	width: 100%;
	padding: 0;
	margin:0 auto;
	background-color: #fff!important;
	background-size: cover;
	background-position: center;

	
}

header{
	width: 100%;
	z-index:2;
	background-color: #fff!important;
}

.logo{
	width: 200px;
	height: 200px;
}

.nav{
	background-color: #fff;
	width: 100%;
}

.nav ul{
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li{
	display: inline-block;
}

.nav a{
	text-decoration: none;
	color: #000;
	font-family: "antiquarian-scribe",sans-serif;
	font-size: 20px;
	width: 100%;
	display: block;
	padding: 20px;
	letter-spacing: 2px;
}

.nav a:hover{
	text-decoration: underline;
	color: #545555;
}
/*End Header CSS */

@media only screen and(max-width: 667px){
	body{
		width: 100%;
	}

	header{
		width: 100%;
	}

	.nav li{
		width: 100%;
		display: inline-block;
	}

	.about{
		width: 100%;
	}

	.about img{
		width: 100%;
	}

	.work{
		width: 100%;
	}

	.work img{
		width: 100%;
	}

	.work h3{
		text-align: center;
		font-size: 18px;
		letter-spacing: 1px;
	}
}

.about{
	width: 100%;
	padding-top: 30px;
	margin-top: 15px;
	background-color: #434743;
}

.about img{
	width: 100%;
}

.about h3{
	font-size: 28px;
	font-family: "antiquarian-scribe",sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
}

p{
	font-size: 18px;
	font-family: "parisplus-clair",sans-serif;
	line-height: 2;
	letter-spacing: 1px;
	text-align: left;
	color: #fff;
}

.btn{
	background:#fff;
	color: #434743;
	font-size: 20px;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #985856;
	letter-spacing: 2px;
	margin-top: 10px;
}

.btn:hover{
	background-color: #000;
	color: #fff!important;
	width: 240px;
}

.work{
	width: 100%;
	padding-top: 30px;
	margin-top: 15px;
	background-color: #fff;
}

.ad{
	height: 600px;
	width: 300px;
	background-color: #000;
}

.ad h1{
	text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.ad img{
	width: 100%;
}


.work h2{
	text-align: center;
	font-family: "parisplus-clair", sans-serif;
    width: 100%;
    font-size: 20px;
    position: relative;
    bottom: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.work h3{
	text-align: center;
    font-size: 18px;
    padding: 0px;
    position: relative;
    bottom: 70px;
    letter-spacing: 1px;
}

.work img{
	width: 100%;
}


/*Features*/
.features{
	width: 100%;
	background-color: #e3e3e3;
}
.features h2{
	font-size: 32px;
	font-family: "antiquarian-scribe",sans-serif;
	font-weight: bold;
	color: #000;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 15px;
	padding-top: 20px;
}


.features img{
	display: inline-block;
	width: 100%;
}

.image{
	background-image: url('../img/feature-1.jpg');
	height: 600px;
	width:100%;
}

.second-image{
	background-image: url('../img/feature-2.jpg');
	height: 600px;
	width:100%;
}

.third-image{
	background-image: url('../img/feature-3.jpg');
	height: 600px;
	width:100%;
}

.placeholder{
	background-color: #88aec3;
	background-image: url('../img/gina-right.png');
	width:100%;
}

.placeholder h1{
	text-align: left;
	padding: 50px;
	font-size: 36px;
    margin-top:30px;
    color: #fff;
    letter-spacing: 2px;
    font-family: "antiquarian-scribe",sans-serif;

}

.placeholder h4{
	text-align: left;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 90px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "parisplus-clair", sans-serif;
    font-style: italic;
}

/*Contact Form*/
.contact{
	width: 100%;
}

.form-group{
	margin-bottom: 40px;
}

label{
	display: inline-block;
	margin-bottom: 20px;
	text-align: left;
	text-transform: uppercase;
	color: #000;
}
.p-3{
	padding: 16px !important;
}

.rounded-0{
	border-radius: 0;
}
.form-control{
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.25;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #000;
	border-radius: 0;
}

.pb_outline-dark{
	background-color: #434743;
	color: #fff;
}

.contact h2{
	font-size: 30px;
	font-family: "parisplus-clair", sans-serif;
	line-height: 40px;
	font-weight: bold;
}

footer{
	background: #434743;
	width: 100%;
	clear: both;
	margin-top: 5px;
}

.footer-title{
	font-size: 15px;
	color: #fff;
	font-family: "orator-std", monospace;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5px;
}

.footer-info{
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	margin-left: 0px;
	padding-top: 5px;
	padding-left: 0px
}

.footer-info li{
	list-style: none;
	margin-left: 0px;
	padding-top: 3px;
	text-decoration: none;
	font-size: 16px;
}

.footer-info li a{
	list-style: none;
	margin-top: 5px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
	font-family: "omnes-pro", sans-serif;
}

.footer-info li a:hover{
	color: #000;
}

.footer-contact{
	text-align: center;
}

.footer-contact li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding-left: 20px;
}

.footer-contact li span{
	color: #fff;
	font-style: 18px;
	font-family: "omnes-pro", sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
}

.footer-contact i{
	margin: 0 5px;
  	padding: 0 5px;
  	display: inline-block;
  	color: #fff;
  	font-size: 18px;
}

 .footer-social {
  text-align: center;
  margin-top: 5px;
}

.footer-social i {
  margin: 10px 5px;
  padding: 5px 5px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.footer-social i:hover {
  color: #000;
}

.copyright{
 	margin-bottom: 10px;
 	padding-top: 25px;
 	font-size: 16px;
 	font-family: "omnes-pro", sans-serif;
 	color: #fff;
 	letter-spacing: 1.5px;
 	margin-left: 25px;
 	text-align: center;
 }
